body {
	margin: 0%;
	padding: 0%;
}

body h1,
h2 {
	font-family: "Caesar Dressing", system-ui;
	font-weight: 400;
	font-style: normal;
	font-size: 16;
	text-align: center;
	animation: alternate-reverse 3s 3s delay iteration-count direction fill-mode;
}

header {
	background-image: linear-gradient(to right, aquamarine, rgb(191, 67, 222), pink);
	background-size: cover;
	height: 50px;
	margin-top: 0%;
	padding-top: 0%;
}

div.title {
	width: 40%;
	height: 800px;
	background: linear-gradient(to bottom, aquamarine, rgb(191, 67, 222), pink);
	border-radius: 8px;
	padding-top: 0%;
}

.container img {
	height: 800px;
	width: 1400px;
}

pre {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: medium;
}

.container {
	display: flex;
}

@keyframes growAndRotate {
	0% {
		transform: scale(1) rotate(0deg);
	}

	50% {
		transform: scale(1.5) rotate(180deg);
	}

	100% {
		transform: scale(1) rotate(360deg);
	}
}

footer .About img {
	width: 330px;
	height: 330px;
	margin-right: 185px;
	margin-left: 140px;
	animation: growAndRotate 4s ease-in-out;
}

footer .About {
	display: flex;
}

footer .About fieldset {
	width: 250px;
	height: 280px;
}

footer .About .text img {
	width: 150px;
	height: 50px;
	margin-left: 260px;
}

input[type="submit"] {
	background: linear-gradient(to right, #ff9a9e, #fecfef);
	border: none;
	color: black;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

input[type="submit"]:hover {
	background: linear-gradient(to right, #6e4525, #a35b35);
}


/* CSS for responsiveness */
@media screen and (max-width: 768px) {

	body h1,
	h2 {
		font-size: 14px;
	}

	div.title {
		width: 80%;
	}

	.container img {
		width: 100%;
		height: auto;
	}

	footer .About img {
		width: 80%;
		height: auto;

	}

	footer .About {
		flex-direction: column;
		align-items: center;
	}
}